<div class="container text-center"><br>
    <br>
  <div class="row align-items-center text-center" style="display: flex;justify-content: center;align-items: center">
    <h3 (mouseover)="hover0=true" (mouseout)="hover0=false" [ngClass]="{'claro2': hover0}" [routerLink]="['/suma']" class="factores text-uppercase">nivel 1</h3>
  </div>
  <div class="row align-items-center text-center" style="display: flex;justify-content: center;align-items: center">
    <h3 (mouseover)="hover0=true" (mouseout)="hover0=false" [ngClass]="{'claro2': hover0}" [routerLink]="['/HistoriaInstitucional']" class="factores text-uppercase">nivel 1</h3>
  </div>
  <div class="row align-items-center text-center" style="display: flex;justify-content: center;align-items: center">
    <h3 (mouseover)="hover0=true" (mouseout)="hover0=false" [ngClass]="{'claro2': hover0}" [routerLink]="['/HistoriaInstitucional']" class="factores text-uppercase">nivel 1</h3>    
  </div>
  <div class="row align-items-center text-center" style="display: flex;justify-content: center;align-items: center">
    <h3 (mouseover)="hover0=true" (mouseout)="hover0=false" [ngClass]="{'claro2': hover0}" [routerLink]="['/HistoriaInstitucional']" class="factores text-uppercase">nivel 1</h3>
  </div>
  <div class="row align-items-center text-center" style="display: flex;justify-content: center;align-items: center">
    <h3 (mouseover)="hover0=true" (mouseout)="hover0=false" [ngClass]="{'claro2': hover0}" [routerLink]="['/HistoriaInstitucional']" class="factores text-uppercase">nivel 1</h3>
  </div>
  <div class="row align-items-center text-center" style="display: flex;justify-content: center;align-items: center">
    <h3 (mouseover)="hover0=true" (mouseout)="hover0=false" [ngClass]="{'claro2': hover0}" [routerLink]="['/HistoriaInstitucional']" class="factores text-uppercase">nivel 1</h3>
  </div>
  <div class="row align-items-center text-center" style="display: flex;justify-content: center;align-items: center">
    <h3 (mouseover)="hover0=true" (mouseout)="hover0=false" [ngClass]="{'claro2': hover0}" [routerLink]="['/HistoriaInstitucional']" class="factores text-uppercase">nivel 1</h3>
  </div>
  <div class="row align-items-center text-center" style="display: flex;justify-content: center;align-items: center">
    <h3 (mouseover)="hover0=true" (mouseout)="hover0=false" [ngClass]="{'claro2': hover0}" [routerLink]="['/HistoriaInstitucional']" class="factores text-uppercase">nivel 1</h3>

  </div>
  <div class="row align-items-center text-center" style="display: flex;justify-content: center;align-items: center">
    <h3 (mouseover)="hover0=true" (mouseout)="hover0=false" [ngClass]="{'claro2': hover0}" [routerLink]="['/HistoriaInstitucional']" class="factores text-uppercase">nivel 1</h3>      
  </div>
</div>
<hr>