<div class="container text-center"><br>
    <br>
  <div class="row align-items-center text-center" style="display: flex;justify-content: center;align-items: center">
    <h3 (mouseover)="hover0=true" (mouseout)="hover0=false" [routerLink]="['/suma']" class="factores text-uppercase">nivel 1</h3>
  </div>
  <div class="row align-items-center text-center" style="display: flex;justify-content: center;align-items: center">
    <h3 (mouseover)="hover0=true" (mouseout)="hover0=false" [routerLink]="['/resta']" class="factores text-uppercase">nivel 2</h3>
  </div>
  <div class="row align-items-center text-center" style="display: flex;justify-content: center;align-items: center">
    <h3 (mouseover)="hover0=true" (mouseout)="hover0=false" [routerLink]="['/HistoriaInstitucional']" class="factores text-uppercase">nivel 3</h3>    
  </div>
  <div class="row align-items-center text-center" style="display: flex;justify-content: center;align-items: center">
    <h3 (mouseover)="hover0=true" (mouseout)="hover0=false" [routerLink]="['/HistoriaInstitucional']" class="factores text-uppercase">nivel 4</h3>
  </div>
  <div class="row align-items-center text-center" style="display: flex;justify-content: center;align-items: center">
    <h3 (mouseover)="hover0=true" (mouseout)="hover0=false" [routerLink]="['/HistoriaInstitucional']" class="factores text-uppercase">nivel 5</h3>
  </div>
  <div class="row align-items-center text-center" style="display: flex;justify-content: center;align-items: center">
    <h3 (mouseover)="hover0=true" (mouseout)="hover0=false" [routerLink]="['/HistoriaInstitucional']" class="factores text-uppercase">nivel 6</h3>
  </div>
  <div class="row align-items-center text-center" style="display: flex;justify-content: center;align-items: center">
    <h3 (mouseover)="hover0=true" (mouseout)="hover0=false" [routerLink]="['/HistoriaInstitucional']" class="factores text-uppercase">nivel 7</h3>
  </div>
  <div class="row align-items-center text-center" style="display: flex;justify-content: center;align-items: center">
    <h3 (mouseover)="hover0=true" (mouseout)="hover0=false" [routerLink]="['/HistoriaInstitucional']" class="factores text-uppercase">nivel 8</h3>

  </div>
  <div class="row align-items-center text-center" style="display: flex;justify-content: center;align-items: center">
    <h3 (mouseover)="hover0=true" (mouseout)="hover0=false" [routerLink]="['/home']" class="factores text-uppercase">RETROCEDER</h3>      
  </div>
</div>