<div id="particles-js"></div>
<div class="container text-center" style="padding-top: 2%; padding-bottom: 5%;"><br>
    <div class="row align-items-center text-center" style="display: flex;justify-content: center;align-items: center">
        <h3 (mouseover)="hover1=true" (mouseout)="hover1=false" [ngClass]="{'claro2': hover1}" [routerLink]="['/suma']" class="factores swing-in-top-fwd1">SUMA</h3>
    </div>
    <div class="row align-items-center text-center" style="display: flex;justify-content: center;align-items: center">
        <h3 (mouseover)="hover2=true" (mouseout)="hover2=false" [ngClass]="{'claro2': hover2}" [routerLink]="['/resta']" class="factores swing-in-top-fwd2">RESTA</h3>
    </div>
    <div class="row align-items-center text-center" style="display: flex;justify-content: center;align-items: center">
        <h3 (mouseover)="hover3=true" (mouseout)="hover3=false" [ngClass]="{'claro2': hover3}" [routerLink]="['/HistoriaInstitucional']" class="factores text-uppercase swing-in-top-fwd3">nivel 3</h3>
    </div>
    <div class="row align-items-center text-center" style="display: flex;justify-content: center;align-items: center">
        <h3 (mouseover)="hover4=true" (mouseout)="hover4=false" [ngClass]="{'claro2': hover4}" [routerLink]="['/HistoriaInstitucional']" class="factores text-uppercase swing-in-top-fwd4">nivel 4</h3>
    </div>
    <div class="row align-items-center text-center" style="display: flex;justify-content: center;align-items: center">
        <h3 (mouseover)="hover5=true" (mouseout)="hover5=false" [ngClass]="{'claro2': hover5}" [routerLink]="['/HistoriaInstitucional']" class="factores text-uppercase swing-in-top-fwd5">nivel 5</h3>
    </div>
    <div class="row align-items-center text-center" style="display: flex;justify-content: center;align-items: center">
        <h3 (mouseover)="hover6=true" (mouseout)="hover6=false" [ngClass]="{'claro2': hover6}" [routerLink]="['/HistoriaInstitucional']" class="factores text-uppercase swing-in-top-fwd6">nivel 6</h3>
    </div>
    <div class="row align-items-center text-center" style="display: flex;justify-content: center;align-items: center">
        <h3 (mouseover)="hover7=true" (mouseout)="hover7=false" [ngClass]="{'claro2': hover7}" [routerLink]="['/HistoriaInstitucional']" class="factores text-uppercase swing-in-top-fwd7">nivel 7</h3>
    </div>
    <div class="row align-items-center text-center" style="display: flex;justify-content: center;align-items: center">
        <h3 (mouseover)="hover8=true" (mouseout)="hover8=false" [ngClass]="{'claro2': hover8}" [routerLink]="['/HistoriaInstitucional']" class="factores text-uppercase swing-in-top-fwd8">nivel 8</h3>
    </div>
    <div class="row align-items-center text-center" style="display: flex;justify-content: center;align-items: center">
        <h3 (mouseover)="hover9=true" (mouseout)="hover9=false" [ngClass]="{'claro2': hover9}" [routerLink]="['/home']" class="factores text-uppercase swing-in-top-fwd9">RETROCEDER</h3>
    </div>
</div>